body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.container__title {
  color: #6f4c4c;
  font-size: 2em;
  text-align: center;
}

.game__data {
  align-self: center;
}

h3 {
  display: inline-block;
}
